#Django

SECRET_KEY=''

DEBUG=False

ADMIN_URL=

#Database

NAME_DB=
USER_DB=
PASSWORD_DB=
HOST_DB=
PORT_DB=

#Telegram

TOKEN_TG=
WEBAPP_URL= # Frontend link

#AI (Gemini)

GEMINI_API_KEY=

# Node.js

VITE_API_URL= # Backend link

# Deploy

ALLOWED_HOSTS= # Backend link
CORS_ALLOWED_ORIGINS= # Frontend link
CSRF_TRUSTED_ORIGINS= # Backend link

# TimeZone Scheduler

TIMEZONE= # IANA Time Zone Database